{% extends "base.html.twig" %}

{% block carousel %}{% endblock %}
{% block content %}
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="clearfix">
			<img src="{{ asset('assets/img/sebnitz-g4e4d3d7dc_640.jpg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

			<p>
				L’humanité et ses ancêtres utilisent les pierres depuis au moins trois millions d’années. Sur les sites archéologiques, la présence d’artefacts établit avec certitude que nos lointains ancêtres australopithèques transformaient la pierre pour en faire des outils. Plus proche de nous, les hommes préhistoriques habitaient les cavernes et vivaient ainsi quotidiennement sous la protection du règne minéral.
			</p>

			<p>
				L’histoire de l’usage des pierres comme instruments de soin est trop ancienne pour être retracée avec certitude. Néanmoins, nous savons qu’entre 15000 et 5000 ans avant notre ère, les hommes des cavernes manipulaient les pierres dans tous les actes de leur vie quotidienne. La pierre était « portée en amulette, travaillée en statuette, dressée en temples mégalithiques : menhirs, dolmens, cromlechs…On y appelait force, fécondité… La lithothérapie était déjà née.
			</p>

			<p>
				la lithothérapie vise à rééquilibrer  des fonctions vitales et participe donc à une harmonisation du corps et de l'esprit mais aussi à la stimulation et purification de certaines fonctions.
			</p>
		</div>
		<hr>
		<h3>Nos produits phares</h3>
		<p>Présentation des articles les plus vendus.</p>
		<div class="row">
			{% for product in products %}
			<div class="col-md-3">
			{% include "product/single_product.html.twig" %}
			</div>
				
			{% endfor %}

			<!-- /.col-lg-4 -->

			<!-- /.row -->


			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider"> <div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">Créer du lien avec sa pierre,
						<span class="text-muted">grace à la paume de votre main.</span>
					</h2>
					<p class="lead">Tenir sa pierre dans la main aura donc un impact vibratoire sur tout le corps ! Et sans ces petits temps d'attention, d'entretien de la relation entre la pierre et vous, on ressentira moins sa vibration.</div>
				<div class="col-md-5">
					<img src="{{ asset('assets/img/mano.jpg')}}" class = "img-fluid" alt="Le lien avec sa pierre">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7 order-md-2">
					<h2 class="featurette-heading">Les bougies de lithothérapie,
						<span class="text-muted">venez découvrir leurs bienfaits.</span>
					</h2>
					<p class="lead">Faites l'expérience d'une bougie artisanale infusée aux pierres semi-précieuses de lithothérapie. Retrouvez en chacune d'elles, un parfum naturel et capiteux et des associations de pierres naturelles qui éveillent vos sens et répondent à votre cheminement personnel. Chaque bougie est une expérience et propose une combustion saine et propre pour votre santé et votre intérieur.</div>
				<div class="col-md-5 order-md-1">
					<img src="{{ asset('assets/img/light.jpg')}}" class = "img-fluid" alt="Les bougies">
				</div>
			</div>
		</div>
		

		<hr class="featurette-divider"><!-- /END THE FEATURETTES -->{% endblock %}
